<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.AccountDao">

	<resultMap type="cm.lx.bean.Account" id="AccountMap">
		<result property="id" column="id" /> 
		<result property="accountNum" column="account_num" />
		<result property="password" column="cpassword" />
		<result property="department" column="department_id" />
		<result property="userType" column="userType" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="purchaseCommission" column="purchase_commission" />
		<result property="active" column="active" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, account_num, cpassword, department_id, userType, name, phone, purchase_commission, active, ctime, utime
	</sql>

	<insert id="insert" parameterType="cm.lx.bean.Account">
		insert into cm_manager_user
		(account_num,cpassword,department_id,userType,name,phone,purchase_commission,active,ctime,utime)
		values
		(#{accountNum},#{password},#{department},#{userType},#{name},#{phone},#{purchaseCommission},#{active},#{ctime},#{utime})
	</insert>


	<delete id="deleteByDepartmentId" parameterType="Integer">
		delete from cm_manager_user where department_id = #{id}
	</delete>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_manager_user where id = #{id}
	</delete>


	<select id="getByName" resultMap="AccountMap" parameterType="String">
		select
		<include refid="Base_Column_List"/>
		from cm_manager_user where account_num = #{accountNum} and active = 1;
	</select>

	<select id="getByRealName" resultMap="AccountMap" parameterType="String">
		select
		<include refid="Base_Column_List"/>
		from cm_manager_user where name = #{name} and active = 1;
	</select>


	<select id="getById" resultMap="AccountMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_manager_user where id = #{id} and active = 1;
	</select>

	<select id="getAccountList" resultMap="AccountMap" parameterType="String">
		select
		<include refid="Base_Column_List"/>
		from cm_manager_user where active = 1;
	</select>

	<update id="updateById" parameterType="cm.lx.bean.Account">
		update cm_manager_user
		<set>
			<if test="password != null" >
				cpassword = #{password},
			</if>
			<if test="department != null" >
				department_id = #{department},
			</if>
			<if test="userType != null" >
				userType = #{userType},
			</if>
			<if test="name != null" >
				name = #{name},
			</if>
			<if test="phone != null" >
				phone = #{phone},
			</if>
			<if test="purchaseCommission != null" >
				purchase_commission = #{purchaseCommission},
			</if>
			<if test="active != null" >
				active = #{active},
			</if>
			<if test="utime != null" >
				utime = #{utime},
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>
