<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.CarBathDao">

	<resultMap type="cm.lx.bean.CarBath" id="CarBathMap">
		<result property="id" column="id" />
		<result property="bathName" column="bath_name" />
		<result property="bathDesc" column="bath_desc" />
		<result property="accountNum" column="account_num" />
		<result property="carRecordId" column="car_record_id" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bath_name, bath_desc, account_num, car_record_id, ctime, utime
	</sql>

	<select id="getCarBathAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_car_bath'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.CarBath">
		insert into cm_car_bath
		(id,bath_name,bath_desc,account_num,car_record_id,ctime,utime)
		values
		(#{id},#{bathName},#{bathDesc},#{accountNum},#{carRecordId},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="CarBathMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_car_bath where id = #{id};
	</select>

	<select id="getByName" resultMap="CarBathMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_car_bath where bath_name = #{bathName};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_car_bath where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.CarBath">
		update cm_car_bath
		 <set>
			 <if test="bathName != null">
				 bath_name = #{bathName},
			 </if>
			 <if test="bathDesc != null">
				 bath_desc = #{bathDesc},
			 </if>
			 <if test="accountNum != null">
				 account_num = #{accountNum},
			 </if>
			 <if test="carRecordId != null">
				 car_record_id = #{carRecordId},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>


	<select id="getCarBathListByKey" resultMap="CarBathMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_car_bath where 1=1
		<if test="accountNum != null" >
			and account_num = #{accountNum}
		</if>

	</select>
</mapper>
