<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.CarDossierDao">
	<resultMap type="cm.lx.bean.CarDossier" id="CarDossierMap">
		<result property="id" column="id" />
		<result property="carRecordId" column="car_record_id" />
		<result property="carKeyNum" column="car_key_num" />
		<result property="carOwner" column="car_owner" />
		<result property="carNum" column="car_num" />
		<result property="purchaseTimes" column="purchase_times" />
		<result property="carNumResource" column="car_num_resource" />
		<result property="qzxDate" column="qzx_date" />
		<result property="qzxPerson" column="qzx_person" />
		<result property="qzxCompany" column="qzx_company" />
		<result property="qzxAddress" column="qzx_address" />
		<result property="syxDate" column="syx_date" />
		<result property="syxPerson" column="syx_person" />
		<result property="syxCompany" column="syx_company" />
		<result property="syxAddress" column="syx_address" />
		<result property="billSign" column="bill_sign" />
		<result property="register" column="register" />
		<result property="drivingLicense" column="driving_license" />
		<result property="breakRule" column="break_rule" />
		<result property="qzxStick" column="qzx_stick" />
		<result property="carDischarge" column="car_discharge" />
		<result property="annualTrial" column="annual_trial" />
		<result property="insuranceBudget" column="insurance_budget" />
		<result property="carStatus" column="car_status" />
		<result property="abs" column="abs" />
		<result property="displayStatus" column="display_status" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, car_record_id, car_key_num, car_owner, car_num, purchase_times, car_num_resource, qzx_date, qzx_person, qzx_company, qzx_address,
		syx_date, syx_person, syx_company, syx_address, bill_sign, register, driving_license, break_rule, qzx_stick, car_discharge, annual_trial,
		insurance_budget, car_status, abs, display_status, ctime, utime
	</sql>

	<select id="getCarDossierAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_car_dossier'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.CarDossier">
		insert into cm_car_dossier
		(car_record_id, car_key_num, car_owner, car_num, purchase_times, car_num_resource, qzx_date, qzx_person, qzx_company, qzx_address,
		syx_date, syx_person, syx_company, syx_address, bill_sign, register, driving_license, break_rule, qzx_stick, car_discharge, annual_trial,
		insurance_budget, car_status, abs, display_status, ctime, utime)
		values
		(#{carRecordId},#{carKeyNum},#{carOwner},#{carNum},#{purchaseTimes},#{carNumResource},#{qzxDate},#{qzxPerson},#{qzxCompany},#{qzxAddress},
		#{syxDate},#{syxPerson},#{syxCompany},#{syxAddress},#{billSign},#{register},#{drivingLicense},#{breakRule},#{qzxStick},#{carDischarge},#{annualTrial},
		#{insuranceBudget},#{carStatus},#{abs},#{displayStatus},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="CarDossierMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_car_dossier where id = #{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_car_dossier where id = #{id}
	</delete>

	<delete id="deleteByMap"  parameterType="Map">
		delete from cm_car_dossier where 1=1
		<if test="linkId != null">
			and car_record_id = #{linkId}
		</if>
	</delete>



	<update id="updateById" parameterType="cm.lx.bean.CarDossier">
		update cm_car_dossier
		 <set>
			 <if test="carRecordId != null">
				 car_record_id = #{carRecordId},
			 </if>
			 <if test="carKeyNum != null">
				 car_key_num = #{carKeyNum},
			 </if>
			 <if test="carOwner != null">
				 car_owner = #{carOwner},
			 </if>
			 <if test="carNum != null">
				 car_num = #{carNum},
			 </if>
			 <if test="purchaseTimes != null">
				 purchase_times = #{purchaseTimes},
			 </if>
			 <if test="carNumResource != null">
				 car_num_resource = #{carNumResource},
			 </if>
			 <if test="qzxDate != null">
				 qzx_date = #{qzxDate},
			 </if>
			 <if test="qzxPerson != null">
				 qzx_person = #{qzxPerson},
			 </if>
			 <if test="qzxCompany != null">
				 qzx_company = #{qzxCompany},
			 </if>
			 <if test="qzxAddress != null">
				 qzx_address = #{qzxAddress},
			 </if>
			 <if test="syxDate != null">
				 syx_date = #{syxDate},
			 </if>
			 <if test="syxPerson != null">
				 syx_person = #{syxPerson},
			 </if>
			 <if test="syxCompany != null">
				 syx_company = #{syxCompany},
			 </if>
			 <if test="syxAddress != null">
				 syx_address = #{syxAddress},
			 </if>
			 <if test="billSign != null">
				 bill_sign = #{billSign},
			 </if>
			 <if test="register != null">
				 register = #{register},
			 </if>
			 <if test="drivingLicense != null">
				 driving_license = #{drivingLicense},
			 </if>
			 <if test="breakRule != null">
				 break_rule = #{breakRule},
			 </if>
			 <if test="qzxStick != null">
				 qzx_stick = #{qzxStick},
			 </if>
			 <if test="carDischarge != null">
				 car_discharge = #{carDischarge},
			 </if>
			 <if test="annualTrial != null">
				 annual_trial = #{annualTrial},
			 </if>
			 <if test="insuranceBudget != null">
				 insurance_budget = #{insuranceBudget},
			 </if>
			 <if test="carStatus != null">
				 car_status = #{carStatus},
			 </if>
			 <if test="abs != null">
				 abs = #{abs},
			 </if>
			 <if test="displayStatus != null">
				 display_status = #{displayStatus},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>

	<select id="getListByMap" resultMap="CarDossierMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_car_dossier where 1=1
		<if test="displayStatus != null">
			and display_status = #{displayStatus}
		</if>
		<if test="carRecordId != null">
			and car_record_id = #{carRecordId}
		</if>
			order by ctime desc
	</select>
</mapper>
