<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.CarPropertyDao">

	<resultMap type="cm.lx.bean.CarProperty" id="CarPropertyMap">
		<result property="id" column="id" />
		<result property="propertyKey" column="property_key" />
		<result property="propertyValue" column="property_value" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, property_key, property_value, ctime, utime
	</sql>

	<insert id="insert" parameterType="cm.lx.bean.CarProperty">
		insert into cm_car_property
		(property_key,property_value,ctime,utime)
		values
		(#{propertyKey},#{propertyValue},#{ctime},#{utime})
	</insert>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_car_property where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.CarProperty">
		update cm_car_property set
		property_key = #{propertyKey},property_value = #{propertyValue},utime = #{utime}
		where id = #{id}
	</update>

	<select id="getCarPropertyListByKey" resultMap="CarPropertyMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_car_property where 1=1
		<if test="key != null" >
			and property_key = #{key}
		</if>

	</select>

</mapper>
