<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.CarRecordDao">

	<resultMap type="cm.lx.bean.CarRecord" id="CarRecordMap">
		<result property="id" column="id" /> 
		<result property="purchaseDate" column="purchase_date" />
		<result property="frameNum" column="frame_num" />
		<result property="keyNum" column="key_num" />
		<result property="purchasePerson" column="purchase_person" />
		<result property="insidePerson" column="inside_person" />
		<result property="insideProportion" column="inside_proportion" />
		<result property="outsidePerson" column="outside_person" />
		<result property="outsideProportion" column="outside_proportion" />
		<result property="carLine" column="car_line" />
		<result property="carLevel" column="car_level" />
		<result property="carBrand" column="car_brand" />
		<result property="carModel" column="car_model" />
		<result property="carDisplacement" column="car_displacement" />
		<result property="carChannel" column="car_channel" />
		<result property="carResource" column="car_resource" />
		<result property="carNumResource" column="car_num_resource" />
		<result property="carConfig" column="car_config" />
		<result property="carCreateTime" column="car_create_time" />
		<result property="carPurchaseTime" column="car_purchase_time" />
		<result property="carRunNum" column="car_run_num" />
		<result property="carOutColour" column="car_out_colour" />
		<result property="carInsideColour" column="car_inside_colour" />
		<result property="carNewSale" column="car_new_sale" />
		<result property="carTakeType" column="car_take_type" />
		<result property="carStatus" column="car_status" />
		<result property="carStatusDesc" column="car_status_desc" />
		<result property="agencyFee" column="agency_fee" />
		<result property="purchaseMoney" column="purchase_money" />
		<result property="deposit" column="deposit" />
		<result property="paidMoney" column="paid_money" />
		<result property="hallMoney" column="hall_money" />
		<result property="qAuthorityMoney" column="q_authority_money" />
		<result property="aAuthorityMoney" column="a_authority_money" />
		<result property="purchaseType" column="purchase_type" />
		<result property="soldDate" column="sold_date" />
		<result property="recordStatus" column="record_status" />
		<result property="isBath" column="is_bath" />
		<result property="bathId" column="bath_id" />
		<result property="isCost" column="is_cost" />
		<result property="costId" column="cost_id" />
		<result property="isSale" column="is_sale" />
		<result property="saleId" column="sale_id" />
		<result property="isSf" column="is_sf" />
		<result property="sfId" column="sf_id" />
		<result property="grossProfit" column="gross_profit" />
		<result property="vehiclePremium" column="vehicle_premium" />
		<result property="stockDuration" column="stock_duration" />
		<result property="expenseId" column="expense_id" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, purchase_date, frame_num, key_num, purchase_person, inside_person, inside_proportion, outside_person, outside_proportion, car_line, car_level, car_brand,
		car_model, car_displacement, car_channel, car_resource, car_num_resource, car_config, car_create_time, car_purchase_time, car_run_num, car_out_colour, car_inside_colour,
		car_new_sale, car_take_type, car_status, car_status_desc, agency_fee, purchase_money, deposit, paid_money, hall_money,
		q_authority_money, a_authority_money, purchase_type, sold_date, record_status, is_bath, bath_id, is_cost, cost_id,
		is_sale, sale_id, is_sf, sf_id, gross_profit, vehicle_premium, stock_duration, expense_id, ctime, utime
	</sql>

	<select id="getCarBathAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_car_record'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.CarRecord">
		insert into cm_car_record
		(purchase_date, frame_num, key_num, purchase_person, inside_person, inside_proportion, outside_person, outside_proportion, car_line, car_level, car_brand,
		car_model, car_displacement, car_channel, car_resource, car_num_resource, car_config, car_create_time, car_purchase_time, car_run_num, car_out_colour, car_inside_colour,
		car_new_sale, car_take_type, car_status, car_status_desc, agency_fee, purchase_money, deposit, paid_money, hall_money,
		q_authority_money, a_authority_money, purchase_type, sold_date, record_status, is_bath, bath_id, is_cost, cost_id,
		is_sale, sale_id, is_sf, sf_id, gross_profit, vehicle_premium, stock_duration, expense_id, ctime, utime)
		values
		(#{purchaseDate},#{frameNum},#{keyNum},#{purchasePerson},#{insidePerson},#{insideProportion},#{outsidePerson},#{outsideProportion},#{carLine},#{carLevel},#{carBrand},
		#{carModel},#{carDisplacement},#{carChannel},#{carResource},#{carNumResource},#{carConfig},#{carCreateTime},#{carPurchaseTime},#{carRunNum},#{carOutColour},#{carInsideColour},
		#{carNewSale},#{carTakeType},#{carStatus},#{carStatusDesc},#{agencyFee},#{purchaseMoney},#{deposit},#{paidMoney},#{hallMoney},
		#{qAuthorityMoney},#{aAuthorityMoney},#{purchaseType},#{soldDate},#{recordStatus},#{isBath},#{bathId},#{isCost},#{costId},
		#{isSale},#{saleId},#{isSf},#{sfId},#{grossProfit},#{vehiclePremium},#{stockDuration},#{expenseId},#{ctime},#{utime})
	</insert>

	<update id="updateById" parameterType="cm.lx.bean.CarRecord">
		update cm_car_record
		<set>
			<if test="purchaseDate != null" >
				purchase_date = #{purchaseDate},
			</if>
			<if test="frameNum != null" >
				frame_num = #{frameNum},
			</if>
			<if test="keyNum != null" >
				key_num = #{keyNum},
			</if>
			<if test="purchasePerson != null" >
				purchase_person = #{purchasePerson},
			</if>
			<if test="insidePerson != null" >
				inside_person = #{insidePerson},
			</if>
			<if test="insideProportion != null" >
				inside_proportion = #{insideProportion},
			</if>
			<if test="outsidePerson != null" >
				outside_person = #{outsidePerson},
			</if>
			<if test="outsideProportion != null" >
				outside_proportion = #{outsideProportion},
			</if>
			<if test="carLine != null" >
				car_line = #{carLine},
			</if>
			<if test="carLevel != null" >
				car_level = #{carLevel},
			</if>
			<if test="carBrand != null" >
				car_brand = #{carBrand},
			</if>
			<if test="carModel != null" >
				car_model = #{carModel},
			</if>
			<if test="carDisplacement != null" >
				car_displacement = #{carDisplacement},
			</if>
			<if test="carChannel != null" >
				car_channel = #{carChannel},
			</if>
			<if test="carResource != null" >
				car_resource = #{carResource},
			</if>
			<if test="carNumResource != null" >
				car_num_resource = #{carNumResource},
			</if>
			<if test="carConfig != null" >
				car_config = #{carConfig},
			</if>
			<if test="carCreateTime != null" >
				car_create_time = #{carCreateTime},
			</if>
			<if test="carPurchaseTime != null" >
				car_purchase_time = #{carPurchaseTime},
			</if>
			<if test="carRunNum != null" >
				car_run_num = #{carRunNum},
			</if>
			<if test="carOutColour != null" >
				car_out_colour = #{carOutColour},
			</if>
			<if test="carInsideColour != null" >
				car_inside_colour = #{carInsideColour},
			</if>
			<if test="carNewSale != null" >
				car_new_sale = #{carNewSale},
			</if>
			<if test="carTakeType != null" >
				car_take_type = #{carTakeType},
			</if>
			<if test="carStatus != null" >
				car_status = #{carStatus},
			</if>
			<if test="carStatusDesc != null" >
				car_status_desc = #{carStatusDesc},
			</if>
			<if test="agencyFee != null" >
				agency_fee = #{agencyFee},
			</if>
			<if test="purchaseMoney != null" >
				purchase_money = #{purchaseMoney},
			</if>
			<if test="deposit != null" >
				deposit = #{deposit},
			</if>
			<if test="paidMoney != null" >
				paid_money = #{paidMoney},
			</if>
			<if test="hallMoney != null" >
				hall_money = #{hallMoney},
			</if>
			<if test="qAuthorityMoney != null" >
				q_authority_money = #{qAuthorityMoney},
			</if>
			<if test="aAuthorityMoney != null" >
				a_authority_money = #{aAuthorityMoney},
			</if>
			<if test="purchaseType != null" >
				purchase_type = #{purchaseType},
			</if>
			<if test="soldDate != null" >
				sold_date = #{soldDate},
			</if>
			<if test="recordStatus != null" >
				record_status = #{recordStatus},
			</if>
			<if test="isBath != null" >
				is_bath = #{isBath},
			</if>
			<if test="bathId != null" >
				bath_id = #{bathId},
			</if>
			<if test="isCost != null" >
				is_cost = #{isCost},
			</if>
			<if test="costId != null" >
				cost_id = #{costId},
			</if>
			<if test="isSale != null" >
				is_sale = #{isSale},
			</if>
			<if test="saleId != null" >
				sale_id = #{saleId},
			</if>
			<if test="isSf != null" >
				is_sf = #{isSf},
			</if>
			<if test="sfId != null" >
				sf_id = #{sfId},
			</if>
			<if test="grossProfit != null" >
				gross_profit = #{grossProfit},
			</if>
			<if test="vehiclePremium != null" >
				vehicle_premium = #{vehiclePremium},
			</if>
			<if test="stockDuration != null" >
				stock_duration = #{stockDuration},
			</if>
			<if test="expenseId != null" >
				expense_id = #{expenseId},
			</if>
			<if test="utime != null" >
				utime = #{utime},
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_car_record where id = #{id}
	</delete>

	<select id="getById" resultMap="CarRecordMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_car_record where id = #{ id, jdbcType=INTEGER };
	</select>


	<select id="getCarRecordListByRecordStatus" resultMap="CarRecordMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_car_record where 1=1
		<if test="recordStatus != null" >
			and record_status = #{recordStatus}
		</if>

		order by ctime desc
	</select>
</mapper>
