<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.CarSaleInfoDao">
	<resultMap type="cm.lx.bean.CarSaleInfo" id="CarSaleInfoMap">
		<result property="id" column="id" />
		<result property="salePerson" column="sale_person" />
		<result property="saleDate" column="sale_date" />
		<result property="saleMoney" column="sale_money" />
		<result property="expenseCompany" column="expense_company" />
		<result property="businessExpenseFee" column="business_expense_fee" />
		<result property="forceExpenseFee" column="force_expense_fee" />
		<result property="expenseRebate" column="expense_rebate" />
		<result property="allUnearnedInsurance" column="all_unearned_insurance" />
		<result property="payCompanyFee" column="pay_company_fee" />
		<result property="agencyFee" column="agency_fee" />
		<result property="unearnedInsurance" column="unearned_insurance" />
		<result property="payMoney" column="pay_money" />
		<result property="paidMoney" column="paid_money" />
		<result property="consumerProperty" column="consumer_property" />
		<result property="consumerResource" column="consumer_resource" />
		<result property="purchaseUse" column="purchase_use" />
		<result property="consumerName" column="consumer_name" />
		<result property="consumerSex" column="consumer_sex" />
		<result property="consumerAge" column="consumer_age" />
		<result property="consumerAddress" column="consumer_address" />
		<result property="consumerPhone" column="consumer_phone" />
		<result property="carRecordId" column="car_record_id" />
		<result property="saleType" column="sale_type" />
		<result property="mortgageId" column="mortgage_id" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>

	<sql id="Base_Column_List">
		id, sale_person, sale_date, sale_money, expense_company, business_expense_fee, force_expense_fee, expense_rebate, all_unearned_insurance, pay_company_fee,
		agency_fee, unearned_insurance, pay_money, paid_money, consumer_property, consumer_resource, purchase_use, consumer_name, consumer_sex, consumer_age,
		consumer_address, consumer_phone, car_record_id, sale_type, mortgage_id, ctime, utime
	</sql>

	<select id="getCarSaleInfoAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_car_sale_info'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.CarSaleInfo">
		insert into cm_car_sale_info
		(id, sale_person, sale_date, sale_money, expense_company, business_expense_fee, force_expense_fee, expense_rebate, all_unearned_insurance, pay_company_fee,
		agency_fee, unearned_insurance, pay_money, paid_money, consumer_property, consumer_resource, purchase_use, consumer_name, consumer_sex, consumer_age,
		consumer_address, consumer_phone, car_record_id, sale_type, mortgage_id, ctime, utime)
		values
		(#{id},#{salePerson},#{saleDate},#{saleMoney},#{expenseCompany},#{businessExpenseFee},#{forceExpenseFee},#{expenseRebate},#{allUnearnedInsurance},#{payCompanyFee},
		#{agencyFee},#{unearnedInsurance},#{payMoney},#{paidMoney},#{consumerProperty},#{consumerResource},#{purchaseUse},#{consumerName},#{consumerSex},#{consumerAge},
		#{consumerAddress},#{consumerPhone},#{carRecordId},#{saleType},#{mortgageId},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="CarSaleInfoMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_car_sale_info where id = #{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_car_sale_info where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.CarSaleInfo">
		update cm_car_sale_info
		 <set>
			 <if test="salePerson != null">
				 sale_person = #{salePerson},
			 </if>
			 <if test="saleDate != null">
				 sale_date = #{saleDate},
			 </if>
			 <if test="saleMoney != null">
				 sale_money = #{saleMoney},
			 </if>
			 <if test="expenseCompany != null">
				 expense_company = #{expenseCompany},
			 </if>
			 <if test="businessExpenseFee != null">
				 business_expense_fee = #{businessExpenseFee},
			 </if>
			 <if test="forceExpenseFee != null">
				 force_expense_fee = #{forceExpenseFee},
			 </if>
			 <if test="expenseRebate != null">
				 expense_rebate = #{expenseRebate},
			 </if>
			 <if test="allUnearnedInsurance != null">
				 all_unearned_insurance = #{allUnearnedInsurance},
			 </if>
			 <if test="payCompanyFee != null">
				 pay_company_fee = #{payCompanyFee},
			 </if>
			 <if test="agencyFee != null">
				 agency_fee = #{agencyFee},
			 </if>
			 <if test="unearnedInsurance != null">
				 unearned_insurance = #{unearnedInsurance},
			 </if>
			 <if test="payMoney != null">
				 pay_money = #{payMoney},
			 </if>
			 <if test="paidMoney != null">
				 paid_money = #{paidMoney},
			 </if>
			 <if test="consumerProperty != null">
				 consumer_property = #{consumerProperty},
			 </if>
			 <if test="consumerResource != null">
				 consumer_resource = #{consumerResource},
			 </if>
			 <if test="purchaseUse != null">
				 purchase_use = #{purchaseUse},
			 </if>
			 <if test="consumerName != null">
				 consumer_name = #{consumerName},
			 </if>
			 <if test="consumerSex != null">
				 consumer_sex = #{consumerSex},
			 </if>
			 <if test="consumerAge != null">
				 consumer_age = #{consumerAge},
			 </if>
			 <if test="consumerAddress != null">
				 consumer_address = #{consumerAddress},
			 </if>
			 <if test="consumerPhone != null">
				 consumer_phone = #{consumerPhone},
			 </if>
			 <if test="carRecordId != null">
				 car_record_id = #{carRecordId},
			 </if>
			 <if test="saleType != null">
				 sale_type = #{saleType},
			 </if>
			 <if test="mortgageId != null">
				 mortgage_id = #{mortgageId},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>

	<select id="getBySaleType" resultMap="CarSaleInfoMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_car_sale_info where sale_type = #{saleType};
	</select>
</mapper>
