<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.MortgageRecordDao">
	<resultMap type="cm.lx.bean.MortgageRecord" id="MortgageRecordMap">
		<result property="id" column="id" />
		<result property="delegatePerson" column="delegate_person" />
		<result property="carBrand" column="car_brand" />
		<result property="carModel" column="car_model" />
		<result property="consumerName" column="consumer_name" />
		<result property="mortgageCommissioner" column="mortgage_commissioner" />
		<result property="mortgageCompany" column="mortgage_company" />
		<result property="loanFee" column="loan_fee" />
		<result property="interestRate" column="interest_rate" />
		<result property="mortgageRebate" column="mortgage_rebate" />
		<result property="backFee" column="back_fee" />
		<result property="assessmentFee" column="assessment_fee" />
		<result property="riskFee" column="risk_fee" />
		<result property="renewalFee" column="renewal_fee" />
		<result property="padFee" column="pad_fee" />
		<result property="doorFee" column="door_fee" />
		<result property="stampDuty" column="stamp_duty" />
		<result property="otherFee" column="other_fee" />
		<result property="expenseIsCompany" column="expense_is_company" />
		<result property="expenseFee" column="expense_fee" />
		<result property="expenseRebate" column="expense_rebate" />
		<result property="moneyBackConsumer" column="money_back_consumer" />
		<result property="isMortgage" column="is_mortgage" />
		<result property="mortgageDate" column="mortgage_date" />
		<result property="mortgageMoney" column="mortgage_money" />
		<result property="aMortgageMoney" column="a_mortgage_money" />
		<result property="isSale" column="is_sale" />
		<result property="saleId" column="sale_id" />
		<result property="isNewCar" column="is_new_car" />
		<result property="newCarId" column="new_car_id" />
		<result property="displayStatus" column="display_status" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, delegate_person, car_brand, car_model, consumer_name, mortgage_commissioner, mortgage_company, loan_fee, interest_rate,
		mortgage_rebate, back_fee, assessment_fee, risk_fee, renewal_fee, pad_fee, door_fee, stamp_duty, other_fee, expense_is_company,
		expense_fee, expense_rebate, money_back_consumer, is_mortgage, mortgage_date, mortgage_money, a_mortgage_money, is_sale, sale_id, is_new_car, new_car_id, display_status, ctime, utime
	</sql>

	<select id="getMortgageRecordAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_mortgage_record'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.MortgageRecord">
		insert into cm_mortgage_record
		(id, delegate_person, car_brand, car_model, consumer_name, mortgage_commissioner, mortgage_company, loan_fee, interest_rate,
		mortgage_rebate, back_fee, assessment_fee, risk_fee, renewal_fee, pad_fee, door_fee, stamp_duty, other_fee, expense_is_company,
		expense_fee, expense_rebate, money_back_consumer, is_mortgage, mortgage_date, mortgage_money, a_mortgage_money, is_sale, sale_id, is_new_car, new_car_id, display_status, ctime, utime)
		values
		(#{id},#{delegatePerson},#{carBrand},#{carModel},#{consumerName},#{mortgageCommissioner},#{mortgageCompany},#{loanFee},#{interestRate},
		#{mortgageRebate},#{backFee},#{assessmentFee},#{riskFee},#{renewalFee},#{padFee},#{doorFee},#{stampDuty},#{otherFee},#{expenseIsCompany},
		#{expenseFee},#{expenseRebate},#{moneyBackConsumer},#{isMortgage},#{mortgageDate},#{mortgageMoney},#{aMortgageMoney},#{isSale},#{saleId},#{isNewCar},#{newCarId},#{displayStatus},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="MortgageRecordMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_mortgage_record where id = #{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_mortgage_record where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.MortgageRecord">
		update cm_mortgage_record
		 <set>
			 <if test="delegatePerson != null">
				 delegate_person = #{delegatePerson},
			 </if>
			 <if test="carBrand != null">
				 car_brand = #{carBrand},
			 </if>
			 <if test="carModel != null">
				 car_model = #{carModel},
			 </if>
			 <if test="consumerName != null">
				 consumer_name = #{consumerName},
			 </if>
			 <if test="mortgageCommissioner != null">
				 mortgage_commissioner = #{mortgageCommissioner},
			 </if>
			 <if test="mortgageCompany != null">
				 mortgage_company = #{mortgageCompany},
			 </if>
			 <if test="loanFee != null">
				 loan_fee = #{loanFee},
			 </if>
			 <if test="interestRate != null">
				 interest_rate = #{interestRate},
			 </if>
			 <if test="mortgageRebate != null">
				 mortgage_rebate = #{mortgageRebate},
			 </if>
			 <if test="backFee != null">
				 back_fee = #{backFee},
			 </if>
			 <if test="assessmentFee != null">
				 assessment_fee = #{assessmentFee},
			 </if>
			 <if test="riskFee != null">
				 risk_fee = #{riskFee},
			 </if>
			 <if test="renewalFee != null">
				 renewal_fee = #{renewalFee},
			 </if>
			 <if test="padFee != null">
				 pad_fee = #{padFee},
			 </if>
			 <if test="doorFee != null">
				 door_fee = #{doorFee},
			 </if>
			 <if test="stampDuty != null">
				 stamp_duty = #{stampDuty},
			 </if>
			 <if test="otherFee != null">
				 other_fee = #{otherFee},
			 </if>
			 <if test="expenseIsCompany != null">
				 expense_is_company = #{expenseIsCompany},
			 </if>
			 <if test="expenseFee != null">
				 expense_fee = #{expenseFee},
			 </if>
			 <if test="expenseRebate != null">
				 expense_rebate = #{expenseRebate},
			 </if>
			 <if test="moneyBackConsumer != null">
				 money_back_consumer = #{moneyBackConsumer},
			 </if>
			 <if test="isMortgage != null">
				 is_mortgage = #{isMortgage},
			 </if>
			 <if test="mortgageDate != null">
				 mortgage_date = #{mortgageDate},
			 </if>
			 <if test="mortgageMoney != null">
				 mortgage_money = #{mortgageMoney},
			 </if>
			 <if test="aMortgageMoney != null">
				 a_mortgage_money = #{aMortgageMoney},
			 </if>
			 <if test="isSale != null">
				 is_sale = #{isSale},
			 </if>
			 <if test="saleId != null">
				 sale_id = #{saleId},
			 </if>
			 <if test="isNewCar != null">
				 is_new_car = #{isNewCar},
			 </if>
			 <if test="newCarId != null">
				 new_car_id = #{newCarId},
			 </if>
			 <if test="displayStatus != null">
				 display_status = #{displayStatus},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>

	<select id="getMortgageRecordList" resultMap="MortgageRecordMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_mortgage_record where is_sale = 0 and is_new_car = 0
		<if test="displayStatus != null" >
			and display_status = #{displayStatus}
		</if>
	</select>
</mapper>
