<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.MortgageRebateDao">
	<resultMap type="cm.lx.bean.MortgageRebate" id="MortgageRebateMap">
		<result property="id" column="id" />
		<result property="carModel" column="car_model" />
		<result property="number" column="number" />
		<result property="loanDate" column="loan_date" />
		<result property="billPerson" column="bill_person" />
		<result property="loan" column="loan" />
		<result property="interestRate" column="interest_rate" />
		<result property="backMoney" column="back_money" />
		<result property="abs" column="abs" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, car_model, number, loan_date, bill_person, loan, interest_rate, back_money, abs, ctime, utime
	</sql>

	<select id="getMortgageRebateAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_mortgage_rebate'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.MortgageRebate">
		insert into cm_mortgage_rebate
		(car_model, number, loan_date, bill_person, loan, interest_rate, back_money, abs, ctime, utime)
		values
		(#{carModel},#{number},#{loanDate},#{billPerson},#{loan},#{interestRate},#{backMoney},#{abs},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="MortgageRebateMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_mortgage_rebate where id = #{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_mortgage_rebate where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.MortgageRebate">
		update cm_mortgage_rebate
		 <set>
			 <if test="carModel != null">
				 car_model = #{carModel},
			 </if>
			 <if test="number != null">
				 number = #{number},
			 </if>
			 <if test="loanDate != null">
				 loan_date = #{loanDate},
			 </if>
			 <if test="billPerson != null">
				 bill_person = #{billPerson},
			 </if>
			 <if test="loan != null">
				 loan = #{loan},
			 </if>
			 <if test="interestRate != null">
				 interest_rate = #{interestRate},
			 </if>
			 <if test="backMoney != null">
				 back_money = #{backMoney},
			 </if>
			 <if test="abs != null">
				 abs = #{abs},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>

	<select id="getMortgageRebateList" resultMap="MortgageRebateMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_mortgage_rebate where 1=1
	</select>
</mapper>
