<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.ServiceFundDao">
	<resultMap type="cm.lx.bean.ServiceFund" id="ServiceFundMap">
		<result property="id" column="id" />
		<result property="useDate" column="use_date" />
		<result property="person" column="person" />
		<result property="project" column="project" />
		<result property="fee" column="fee" />
		<result property="remark" column="remark" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, use_date, person, project, fee, remark, ctime, utime
	</sql>

	<select id="getCarSaleSetupAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_service_fund'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.ServiceFund">
		insert into cm_service_fund
		(id, use_date, person, project, fee, remark, ctime, utime)
		values
		(#{id},#{useDate},#{person},#{project},#{fee},#{remark},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="ServiceFundMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_service_fund where id = #{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_service_fund where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.ServiceFund">
		update cm_service_fund
		 <set>
			 <if test="useDate != null">
				 use_date = #{useDate},
			 </if>
			 <if test="person != null">
				 person = #{person},
			 </if>
			 <if test="project != null">
				 project = #{project},
			 </if>
			 <if test="fee != null">
				 fee = #{fee},
			 </if>
			 <if test="remark != null">
				 remark = #{remark},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>

	<select id="getByMap" resultMap="ServiceFundMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_service_fund order by ctime desc;
	</select>

	<select id="getUseServiceMoney" resultType="Integer">
		select sum(fee) from cm_service_fund;
	</select>
</mapper>
