<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.lx.dao.WagesDao">
	<resultMap type="cm.lx.bean.Wages" id="WagesMap">
		<result property="id" column="id" />
		<result property="staff" column="staff" />
		<result property="payMonth" column="pay_month" />
		<result property="basePay" column="base_pay" />
		<result property="compassionateLeave" column="compassionate_leave" />
		<result property="late" column="late" />
		<result property="unHitCard" column="un_hit_card" />
		<result property="qualityCommission" column="quality_commission" />
		<result property="carCommission" column="car_commission" />
		<result property="authCommission" column="auth_commission" />
		<result property="depositCommission" column="deposit_commission" />
		<result property="billCommission" column="bill_commission" />
		<result property="insuranceCommission" column="insurance_commission" />
		<result property="purchaseCommission" column="purchase_commission" />
		<result property="shareDividends" column="share_dividends" />
		<result property="newCarCommission" column="new_car_commission" />
		<result property="mealSupplement" column="meal_supplement" />
		<result property="otherSupplement" column="other_supplement" />
		<result property="stime" column="stime" />
		<result property="etime" column="etime" />
		<result property="soldTime" column="sold_time" />
		<result property="wages" column="wages" />
		<result property="ctime" column="ctime" />
		<result property="utime" column="utime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, staff, pay_month, base_pay, compassionate_leave, late, un_hit_card, quality_commission, car_commission, auth_commission,
		deposit_commission, bill_commission, insurance_commission, purchase_commission, share_dividends, new_car_commission,
		meal_supplement, other_supplement, stime, etime, sold_time, wages, ctime, utime
	</sql>

	<select id="getWagesAutoId" resultType="Integer">
		select auto_increment from information_schema.TABLES where
		TABLE_SCHEMA='cm' and TABLE_NAME='cm_wages'
	</select>

	<insert id="insert" parameterType="cm.lx.bean.Wages">
		insert into cm_wages
		(id, staff, pay_month, base_pay, compassionate_leave, late, un_hit_card, quality_commission, car_commission, auth_commission,
		deposit_commission, bill_commission, insurance_commission, purchase_commission, share_dividends, new_car_commission,
		meal_supplement, other_supplement, stime, etime, sold_time, wages, ctime, utime)
		values
		(#{id},#{staff},#{payMonth},#{basePay},#{compassionateLeave},#{late},#{unHitCard},#{qualityCommission},#{carCommission},#{authCommission},
		#{depositCommission},#{billCommission},#{insuranceCommission},#{purchaseCommission},#{shareDividends},#{newCarCommission},
		#{mealSupplement},#{otherSupplement},#{stime},#{etime},#{soldTime},#{wages},#{ctime},#{utime})
	</insert>

	<select id="getById" resultMap="WagesMap" parameterType="Integer">
		select
		<include refid="Base_Column_List"/>
		from cm_wages where id = #{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from cm_wages where id = #{id}
	</delete>

	<update id="updateById" parameterType="cm.lx.bean.Wages">
		update cm_wages
		 <set>
			 <if test="staff != null">
				 staff = #{staff},
			 </if>
			 <if test="payMonth != null">
				 pay_month = #{payMonth},
			 </if>
			 <if test="basePay != null">
				 base_pay = #{basePay},
			 </if>
			 <if test="compassionateLeave != null">
				 compassionate_leave = #{compassionateLeave},
			 </if>
			 <if test="late != null">
				 late = #{late},
			 </if>
			 <if test="unHitCard != null">
				 un_hit_card = #{unHitCard},
			 </if>
			 <if test="qualityCommission != null">
				 quality_commission = #{qualityCommission},
			 </if>
			 <if test="carCommission != null">
				 car_commission = #{carCommission},
			 </if>
			 <if test="authCommission != null">
				 auth_commission = #{authCommission},
			 </if>
			 <if test="depositCommission != null">
				 deposit_commission = #{depositCommission},
			 </if>
			 <if test="billCommission != null">
				 bill_commission = #{billCommission},
			 </if>
			 <if test="insuranceCommission != null">
				 insurance_commission = #{insuranceCommission},
			 </if>
			 <if test="purchaseCommission != null">
				 purchase_commission = #{purchaseCommission},
			 </if>
			 <if test="shareDividends != null">
				 share_dividends = #{shareDividends},
			 </if>
			 <if test="newCarCommission != null">
				 new_car_commission = #{newCarCommission},
			 </if>
			 <if test="mealSupplement != null">
				 meal_supplement = #{mealSupplement},
			 </if>
			 <if test="otherSupplement != null">
				 other_supplement = #{otherSupplement},
			 </if>
			 <if test="stime != null">
				 stime = #{stime},
			 </if>
			 <if test="etime != null">
				 etime = #{etime},
			 </if>
			 <if test="soldTime != null">
				 sold_time = #{soldTime},
			 </if>
			 <if test="wages != null">
				 wages = #{wages},
			 </if>
			 <if test="utime != null">
				 utime = #{utime},
			 </if>
		 </set>
		where id = #{id}
	</update>

	<select id="getListByMap" resultMap="WagesMap" parameterType="Map">
		select
		<include refid="Base_Column_List"/>
		from cm_wages where 1=1
		<if test="staff != null">
			and staff = #{staff}
		</if>
		<if test="payMonth != null">
			and pay_month = #{payMonth}
		</if>
		order by ctime desc;
	</select>
</mapper>
